*{
    margin: 0;
  }
  body{ 
      background-color: rgb(203, 240, 255);
  }
  h1 {
      margin-top: 0%;
      /*border: 3px solid ;*/
      display: inline-block;
      width: 1468px;
      height: 100px;
      position: relative;
     
      text-align: center;
      font-size: 76px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
      color: white;
      background-color:  rgb(35, 177, 233);
      box-sizing: border-box ;
      border:  10px solid;
      border-color: black; 
      margin: 10px;
      
  }
  
  ul {
    list-style-type: none;
      padding: 0;
      overflow: hidden;
      background-color: rgb(255, 236, 159);
      
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: darkred;
      text-align: center;
      padding: 16px 80px;
      text-decoration: none;
      font-size: 20px;
      font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    } 
    
    
    li a:hover {
      background-color: lightgrey;
    }
  
   
  
    .search{ 
      /*float: right;*/
      /*padding: 10px;*/
      border: none;
      margin-top: 12px;
      margin-right: 2px;
      font-size: 17px;
    } 

    .poster{
      position: relative;
      left: 50px;
      top: 70px;
      border: 7px solid rgb(106, 219, 245);
    }

 

    .text1{
      position: absolute;
      left: 510px;
      top: 300px;
      font-size: 25px;
      width: 900px;
      text-align: center;

    }

    .RE{ 
      position: absolute;
      left: 720px;
      top: 200px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size:  65px;
      color: rgb(17, 17, 17);
       
    }

    .ted{ 
      position: absolute;
      color: purple;
      top: 755px;
      font-size: 30px;
      left: 652px;
    }

    .tedimg{
      position: absolute;
      top: 355px;
      font-size: 30px;
      left: 480px;
    }

    .bird{
      position: absolute;
      color: purple;
      top: 755px;
      font-size: 30px;
      left: 952px;
    }

    .birdimg{
      position: absolute;
      top: 350px;
      font-size: 30px;
      left: 770px;
    }

    .char{
      position: absolute;
      left: 800px;
      top: 470px;
      font-size: 55px;
    }
    .Characters{ 

      position: absolute;
      left: 700px;
      top: 650px;
      border: 3px solid blue;
    }


    
  
    
  
   